extends ../layout/layout
block content
    include ../mixins/mixins
    div.main
        div.container-fluid
            div.col-lg-3.col-md-3.col-sm-3.col-xs-3
                div.accordion
                    h1 Повседневная одежда
                    div
                        a Content 1<br>
                        a Content 1<br>
                        a Content 1<br>
                        a Content 1<br>
                    h1 Верхняя оджеда
                    div
                        a Content 2<br>
                        a Content 2<br>
                        a Content 2<br>
                        a Content 2<br>
                    h1 Обувь
                    div
                        a Content 3<br>
                        a Content 3<br>
                        a Content 3<br>
                        a Content 3<br>
                    h1 Аксессуары
                    div
                        a Content 4<br>
                        a Content 4<br>
                        a Content 4<br>
                        a Content 4<br>
                    h1 Сумки
                    div
                        a Content 5<br>
                        a Content 5<br>
                        a Content 5<br>
                        a Content 5<br>
                    h1 Спортивная одежда
                    div
                        a Content 6<br>
                        a Content 6<br>
                        a Content 6<br>
                        a Content 6<br>
            div.col-lg-9.col-md-9.col-sm-9.col-xs-9
                div.sort
                    span Сортировать:
                    a по популярности
                    a по цене
                    a по рейтингу
                    a по отзывам
                    a по новизне
                div.row
                - each product in data.products
                    div.col-lg-4.col-md-4.col-sm-6.col-xs-12
                        div.goodsBlock
                            - if(product.old_price)
                                div.marker.red sale
                            img.img-responsive.cover(src="/api/file/#{product.photo}")
                            div.namePrice
                                div #{product.article}
                                p #{product.name}
                                hr.line
                                span #{product.price + ' ' + data.currency}
                                - if(product.old_price)
                                    strike #{product.old_price + ' ' + data.currency}
                    //div.col-lg-4.col-md-4.col-sm-6.col-xs-12
                    //    div.goodsBlock
                    //        div.marker.green -30%
                    //        img.img-responsive.cover(src="images/11.png")
                    //        div.namePrice
                    //            div Артикул 30530101
                    //            p Пальто mango
                    //            hr.line
                    //            span 2700 грн
                    //            strike 3100 грн
                    //div.col-lg-4.col-md-4.col-sm-6.col-xs-12
                    //    div.goodsBlock
                    //        div.marker.blue new
                    //        img.img-responsive.cover(src="images/11.png")
                    //        div.namePrice
                    //            div Артикул 30530101
                    //            p Пальто mango
                    //            hr.line
                    //            span 2700 грн
                    //div.col-lg-4.col-md-4.col-sm-6.col-xs-12
                    //    div.goodsBlock
                    //        div.marker.red sale
                    //        img.img-responsive.cover(src="images/11.png")
                    //        div.namePrice
                    //            div Артикул 30530101
                    //            p Пальто mango
                    //            hr.line
                    //            span 2700 грн
                    //            strike 3100 грн
                div.row
                    div.col-lg-12.col-md-12.col-sm-12.col-xs-12.center
                        div.paginat

